# Go stuff

## binary files
*.exe
*.exe~
*.dll
*.so
*.dylib

## Test binary, built with `go test -c`
*.test

## Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

## Dependency directories
vendor/

## Go workspace file
go.work
go.work.sum

# General dev stuff

## dotenv files
.env*

## local configs
*.local.toml
*.local.yaml
*.local.json

# Feel free to suggest editor, IDE, or platform-specific ignores,
# I'm trying to build up a solid general list for OSS projects
# that work across popular languages/frameworks/workflows
# and allow meaningful settings
# but screen out local overrides and secrets
